In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("/content/train.csv")
df

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.00,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.00,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.00,0,0,0,1,13,159,98,0
3,1,0.00,1,0.00,0,82,0,0,679,414,651,0
4,1,0.00,2,0.00,0,0,0,1,6,151,126,0
...,...,...,...,...,...,...,...,...,...,...,...,...
571,1,0.55,1,0.44,0,0,0,0,33,166,596,1
572,1,0.38,1,0.33,0,21,0,0,44,66,75,1
573,1,0.57,2,0.00,0,0,0,0,4,96,339,1
574,1,0.57,1,0.00,0,11,0,0,0,57,73,1
575,1,0.27,1,0.00,0,0,0,0,2,150,487,1

In [ ]:
df.sort_values(by=["profile pic"])

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
430,0,0.09,1,0.00,0,0,0,0,0,32,87,1
409,0,0.38,1,0.00,0,0,0,0,1,120,181,1
408,0,0.21,1,0.00,0,0,0,0,1,1,2,1
407,0,0.42,1,0.00,0,0,0,0,0,16,36,1
405,0,0.21,1,0.00,0,0,0,0,3,124,135,1
...,...,...,...,...,...,...,...,...,...,...,...,...
192,1,0.00,2,0.00,0,13,0,1,8,751,1223,0
193,1,0.00,4,0.25,0,105,0,1,145,781,529,0
194,1,0.00,1,0.33,0,91,0,0,135,1761,905,0
188,1,0.00,2,0.00,0,0,0,0,5,135,176,0
575,1,0.27,1,0.00,0,0,0,0,2,150,487,1

In [ ]:
df.groupby(['private']).mean()

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,#posts,#followers,#follows,fake
private,,,,,,,,,,,
0,0.660112,0.174551,1.533708,0.039045,0.028090,25.890449,0.157303,135.117978,137829.969101,549.870787,0.511236
1,0.768182,0.146500,1.340909,0.031318,0.045455,17.336364,0.050000,62.781818,315.904545,441.245455,0.481818

In [ ]:
temp_df1 = df[[ "private", "fullname words"]]
temp_df2 = df[["description length", "nums/length username" ,"private"]]
temp_df = pd.merge(temp_df1, temp_df2)
temp_df

        private  fullname words  description length  nums/length username
0             0               0                  53                  0.27
1             0               0                  44                  0.00
2             0               0                  82                  0.00
3             0               0                  81                  0.00
4             0               0                  50                  0.00
...         ...             ...                 ...                   ...
175131        1               1                   0                  0.19
175132        1               1                   0                  0.46
175133        1               1                   0                  0.00
175134        1               1                   0                  0.62
175135        1               1                   0                  0.25

[175136 rows x 4 columns]

In [ ]:
df.fillna(method='bfill')

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.00,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.00,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.00,0,0,0,1,13,159,98,0
3,1,0.00,1,0.00,0,82,0,0,679,414,651,0
4,1,0.00,2,0.00,0,0,0,1,6,151,126,0
...,...,...,...,...,...,...,...,...,...,...,...,...
571,1,0.55,1,0.44,0,0,0,0,33,166,596,1
572,1,0.38,1,0.33,0,21,0,0,44,66,75,1
573,1,0.57,2,0.00,0,0,0,0,4,96,339,1
574,1,0.57,1,0.00,0,11,0,0,0,57,73,1
575,1,0.27,1,0.00,0,0,0,0,2,150,487,1